<div class="mat-elevation-z8 mw-100">
  <table mat-table #table [dataSource]="dataSource.data" matSort aria-label="Elements">
    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Game Date</th>
      <td mat-cell *matCellDef="let row">{{row.date | date:'medium' }}</td>
    </ng-container>

    <!-- Opponent Column -->
    <ng-container matColumnDef="opponent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Opponent Name</th>
      <td mat-cell *matCellDef="let row">{{row.isHomeGame ? '@' : 'vs'}} {{row.opponent_name}}</td>
    </ng-container>

    <!-- Game Results Column -->
    <ng-container matColumnDef="results">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Game Results</th>
      <!-- TODO: Create Pipe for W/L -->
      <td mat-cell *matCellDef="let row">{{row.team_outcome == 'win' ? 'W' : 'L'}}, {{row.team_score}}-{{row.opponent_score}}</td>
    </ng-container>

    <!-- At Bats Column -->
    <ng-container matColumnDef="atBats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>AB</th>
      <td mat-cell *matCellDef="let row">{{row.atBats}}</td>
    </ng-container>

    <!-- Hits Column -->
    <ng-container matColumnDef="hits">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Hits</th>
      <td mat-cell *matCellDef="let row">{{row.hits}}</td>
    </ng-container>
    <!-- Doubles Column -->
    <ng-container matColumnDef="doubles">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Doubles</th>
      <td mat-cell *matCellDef="let row">{{row.doubles}}</td>
    </ng-container>
    <!-- Triples Column -->
    <ng-container matColumnDef="triples">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Triples</th>
      <td mat-cell *matCellDef="let row">{{row.triples}}</td>
    </ng-container>
    <!-- Homeruns Column -->
    <ng-container matColumnDef="homeruns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Homeruns</th>
      <td mat-cell *matCellDef="let row">{{row.homeRuns}}</td>
    </ng-container>
    <!-- Walks Column -->
    <ng-container matColumnDef="walks">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Walks</th>
      <td mat-cell *matCellDef="let row">{{row.walks}}</td>
    </ng-container>
    <!-- Strikeout Column -->
    <ng-container matColumnDef="strikeouts">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>K</th>
      <td mat-cell *matCellDef="let row">{{row.strikeouts}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
